@import "../../SCSS/style.scss";

.comments {
    width: 90%;
    margin: 0 auto;
    .comment {
        border: 3px solid black;
        border-radius: 0.5em;
        margin: 50px 0;
        .countries {
            margin: 20px;
            width: 60px;
        }
        .comment-text {
            width: 90%;
            margin: 20px;
        }
    }
}